/* FONTS */

/* FiraSansCondensed-Regular */

@font-face {
  font-family: 'FiraSansCondensed-Regular';
  src: url('../fonts/fira-sans-condensed/fira-sans-condensed-regular.eot');
  src: url('../fonts/fira-sans-condensed/fira-sans-condensed-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/fira-sans-condensed/fira-sans-condensed-regular.svg#FiraSansCondensed-Regular') format('svg'),
       url('../fonts/fira-sans-condensed/fira-sans-condensed-regular.ttf') format('truetype'),
       url('../fonts/fira-sans-condensed/fira-sans-condensed-regular.woff') format('woff'),
       url('../fonts/fira-sans-condensed/fira-sans-condensed-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Bernard-MT-Condensed */

@font-face {
  font-family: 'Bernard-MT-Condensed';
  src: url('../fonts/bernard-mtc-condensed/bernard-mt-condensed.eot');
  src: url('../fonts/bernard-mtc-condensed/bernard-mt-condensed.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bernard-mtc-condensed/bernard-mt-condensed.svg#BernardMT-Condensed') format('svg'),
       url('../fonts/bernard-mtc-condensed/bernard-mt-condensed.ttf') format('truetype'),
       url('../fonts/bernard-mtc-condensed/bernard-mt-condensed.woff') format('woff'),
       url('../fonts/bernard-mtc-condensed/bernard-mt-condensed.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* SourceSansPro-Light */

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url('../fonts/source-sans-pro-light/source-sans-pro-light.eot');
  src: url('../fonts/source-sans-pro-light/source-sans-pro-light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/source-sans-pro-light/source-sans-pro-light.svg#SourceSansPro-Light') format('svg'),
       url('../fonts/source-sans-pro-light/source-sans-pro-light.ttf') format('truetype'),
       url('../fonts/source-sans-pro-light/source-sans-pro-light.woff') format('woff'),
       url('../fonts/source-sans-pro-light/source-sans-pro-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/* SourceSansPro-Regular */

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('../fonts/source-sans-pro-regular/source-sans-pro-regular.eot');
  src: url('../fonts/source-sans-pro-regular/source-sans-pro-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/source-sans-pro-regular/source-sans-pro-regular.svg#SourceSansPro-Regular') format('svg'),
       url('../fonts/source-sans-pro-regular/source-sans-pro-regular.ttf') format('truetype'),
       url('S../fonts/source-sans-pro-regular/source-sans-pro-regularr.woff') format('woff'),
       url('../fonts/source-sans-pro-regular/source-sans-pro-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
